/* 
0.64rem;
0.8rem;
1rem;
1.25rem;
1.56rem;
1.95rem;
2.44rem;
3.05rem;
3.81rem; */

:root {
  /** Cores */
  --primary-color: #073b4c;
  --primary-light-color: #6acff1;
  --primary-lightest-color: #c7edfa;
  --secondary-color: #ffd166;
  --secondary-light-color: #ffedc2;
  --tertiary-color: #ef476f;
  --tertiary-light-color: #f8b4c4;
  --quaternary-color: #06d6a0;
  --quaternary-light-color: #9cfce3;
  --white: #fff;
  --black: #000;
  --light-gray: #f4f4f4;
  --dark-gray: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--secondary-light-color);
}

main {
  color: var(--dark-gray);
}

h1 {
  font-size: 3.81rem;
  padding: 2rem 2rem 1rem 2rem;
}

h2 {
  font-size: 3.05rem;
  padding: 3rem 2rem 2rem 2rem;
}

a {
  font-size: 1.5rem;
}

button {
  border: solid 1px var(--primary-light-color);
  border-radius: 2rem;
  font-size: 1rem;
  padding: 1rem;
  color: var(--primary-color);
  background-color: var(--primary-light-color);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.3s ease, transform 0.5s ease;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--white);
  transform: scale(1.03);
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--black);
}

th,
td {
  font-size: 1rem;
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
